@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("file:///F:/Cliente/imagenes/portada.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #ad611b;
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover{
    color: #ad611b;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: #ad611b;
}
#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center; 
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover{
    background-color: #ad611b;
}

#icono-nav{
    color: #fff;
    display: none;
}

/* SECCION NOSOTROS*/

#nosotros{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#nosotros .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#nosotros .contenedor-foto img{
    padding: 10px;
    width: 600px;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#nosotros .nosotros{
    margin: 0 40px;
}

#nosotros .nosotros .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#nosotros .nosotros h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#nosotros .nosotros h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#nosotros .nosotros p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

/*SECCION SERVICIOS*/

#servicios{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicios .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto ;
}

#servicios .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px; 
    transition: .5s;
}

#servicios .fila .servicio:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}

_#servicios .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr{
    width: 30%;
    margin: auto;
    color: #000;
    margin: 25px;
}

#servicios .fila .servicio p{
    font-size: 14px;
    line-height: 22px;
}

/*SECCION PORTAFOLIO*/
#portafolio{
    max-width: 1100px;
    padding: 150px 0;
    margin: auto;
}

#portafolio .titulo-seccion{ 
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portafolio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto{
    max-width: 600px;
    border: 1px solid #000;
    margin: 0 2px;
    position: relative;
    overflow: hidden;
}

#portafolio .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portafolio .fila .proyecto:hover img{
    filter: grayscale(0);
}

#portafolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ad611b;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

/*SECCION COTIZACION*/

#contizacion{
    padding: 100px 15px;
}

#cotizacion.titulo-seccion h3{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#cotizacion .contenedor-form{
    max-width: 1100px;
    margin: auto;
}

#cotizacion .contenedor-form .fila{
    margin: 15px;
}

#cotizacion .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#cotizacion .contenedor-form input,
#cotizacion .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#cotizacion .contenedor-form .mitad input{
    width: 48%;
}

#cotizacion .contenedor-form .input-full{
    width: 100%;
}

#cotizacion .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
}

#cotizacion .btn-enviar:hover{
    background-color: #ad611b;
    color: #fff;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;  
}

.content-foo p{
    color: #ccc;
    text-decoration: underline;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/*codigo CIU*/

.transporte {
    text-align: center;
    padding: 10px;
    border: 2px solid #3b3b3b; 
    border-radius: 10px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

h1 {
    font-size: 36px; 
    color: #093058; 
    margin: 0;
}

p {
    font-size: 18px; 
    color: #000; 
}